<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.raohong.SimilarWechatRecord" >

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">

        <activity android:name="com.raohong.SimilarWechatRecord.RecordedActivity" />

        <activity android:name="com.raohong.SimilarWechatRecord.EditVideoActivity"
            android:windowSoftInputMode="adjustResize|adjustPan" />

        <activity android:name="com.raohong.SimilarWechatRecord.CutSizeActivity" />

        <activity android:name="com.raohong.SimilarWechatRecord.CutTimeActivity" />

    </application>

</manifest>
